<div class="block">
    <!-- 1-->
    <div class="first-block">   
        <div class="internal-first-block"> 
            <img src="{{LaptopImg}}" alt="No Image">
            <p>{{LaptopStr}}</p>
        </div>
        <div class="internal-first-block"> 
            <img src="{{PcImg}}" alt="No Image">    
            <p>{{PcStr}}</p>
        </div>
        <div class="internal-first-block"> 
            <img src="{{MonitorImg}}" alt="No Image">    
            <p>{{MonitorStr}}</p>   
        </div>
        <div class="internal-first-block"> 
            <img src="{{GamingImg}}" alt="No Image">    
            <p>{{GamingStr}}</p>   
        </div>
        <div class="internal-first-block"> 
            <img src="{{TabletsImg}}" alt="No Image">    
            <p>{{TabletsStr}}</p>   
        </div>
        <div class="internal-first-block"> 
            <img src="{{CabeliImg}}" alt="No Image">    
            <p>{{CabeliStr}}</p>   
        </div>
    </div>

    <!-- 2-->
    <div class="second-block">  
        <div class="internal-second-block"> 
            <img src="{{ComponentsImg}}" alt="No Image">
            <p>{{ComponetsStr}}</p>
            <p>SSD</p>
            <p>Системы охлаждения</p>
            <p>Видеокарты</p>
            <p>Оперативная память</p>
            <p>Процессоры</p>
            <p>Материнские платы</p>
            <p>Жесткие диски</p>
            <p>Блоки питания</p>
        </div>
        <div class="internal-second-block"> 
            <img src="{{SetevoeImg}}" alt="No Image">
            <p>{{SetevorStr}}</p>
            <p>Маршрутизаторы</p>
            <p>Коммутаторы</p>
            <p>Сетевые адаптеры</p>
            <p>Сетевое оборудование</p>
            <p>Беспроводные точки доступа</p>
            <p>Ретрансляторы</p>
            <p>Патч-корди</p>
        </div>
        <div class="internal-second-block"> 
            <img src="{{HeadPhoneImg}}" alt="No Image">
            <p>{{HeadPhoneStr}}</p>
            <p>Наушники</p>
            <p>TWS</p>
            <p>Игровые гарнитуры</p>
            <p>Вакуумные наушники</p>
            <p>Наушники вкладыши</p>
            <p>Накладные наушники</p>
            <p>Полноразмерные наушники</p>
            <p>Усилители для наушников</p>
            <p>Аксессуары для наушников</p>
        </div>
        <div class="internal-second-block"> 
            <img src="{{ClaviaturImg}}" alt="No Image">
            <p>{{ClaviaturStr}}</p>
            <p>Компьютерные мыши</p>
            <p>Игровые поверхности</p>
            <p>Клавиатуры</p>
            <p>Комплект: клавиатура и мышь</p>
            <p>Аксессуары для клавиатури</p>
        </div>
        <div class="internal-second-block"> 
            <img src="{{ElectronicImg}}" alt="No Image">
            <p>{{ElectronicStr}}</p>
            <p>Флеш панять USB</p>
            <p>Хаби и кардридеры</p>
            <p>Аксессуары для ПК и ноутбуков</p>
            <p>Комплектующие для ноутбуков</p>
            <p>Чехлы для планшетов</p>
            <p>Сумки, рюкзаки и чехлы</p>
            <p>Сетевые фильтры</p>
        </div>
        <div class="internal-second-block"> 
            <img src="{{OgrtechImg}}" alt="No Image">
            <p>{{OgrtechStr}}</p>
            <p>Маршрутизаторы</p>
            <p>Коммутаторы</p>
            <p>Сетевые адаптеры</p>
            <p>Сетевое оборудование</p>
            <p>Беспроводные точки доступа</p>
        </div>
    </div>
</div>
